.drop-file {
  position: relative;
  width: 400px;
  height: 200px;
  border: 2px dashed var(--border-color);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--input-bg);
}

.drop-file input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file:hover,
.drop-file.dragover {
  opacity: 0.6;
}

.drop-file__title {
  text-align: center;
  color: var(--txt-second-color);
  font-weight: 600;
}

.drop-file__title img {
  width: 100px;
}

.drop-file-preview {
  margin-top: 30px;
}

.drop-file-preview p {
  font-weight: 500;
}

.drop-file-preview__title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drop-file-preview__title button {
  background: red;
  outline: none;
  padding: 7px 10px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
}

.drop-file-preview__item {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  background-color: var(--input-bg);
  padding: 15px;
  border-radius: 20px;
}

.drop-file-preview__item img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.drop-file-preview__item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .drop-file {
    width: 100%;
  }
}
